@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.main{
  font-family: 'Playfair Display', serif;
  text-align: center;
  letter-spacing: 2px;
}
.victor{
  margin-top: 55px;
  width: 70px;
}
.ss{
  padding-top: 45px;
  margin: 7px;
  width: 47px;
}
.btn{
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  font-weight: bold;
  background-color: white;
  margin-bottom: 22px;
  margin-top: 5px;
  letter-spacing: 0.5px;
  width: 90%;
  max-width: 460px;
  border-radius: 50px;
  height: 50px;
  cursor: pointer;
}
.video{

  height: 56.25vw;

  max-height: 540px;
  margin-top: 40px;
}
.videoYou{
  width: 100%;
  height: 56.25vw;
 max-width:960px ;
  max-height: 540px;
}
.hr{
  margin-top: 60px;
  border-radius: 50px;
  width: 50px;
}
.vi{
  margin-top: 30px;
  padding-bottom: 30px;
  font-size: 17px;
  color: aliceblue;
}